blib*
Makefile
Makefile.old
Build
_build*
pm_to_blib*
*.tar.gz
.lwpcookies
XML-Parser-*
cover_db
Build.bat
*.tmp
*.orig
*.rej
META.*
MYMETA.*
Expat/MYMETA.*
Expat/Expat.bs
Expat/Expat.c
Expat/Expat.o
Expat/dll.base
Expat/dll.exp
Expat/Expat.def
